%h1 Find and Replace

%p 
  = "Enter a replacement string for all occurrences of \"#{h(@query)}.\""

- form_tag(admin_replacements_path) do
  %table.fieldset{:cellpadding=>0, :cellspacing=>0, :border=>0}
    %tr
      %th.label
        = label_tag "query", "Find:"
      %td
        = text_field_tag "query", @query, :size => '15', :disabled => true
        = hidden_field_tag "query", @query
    %tr
      %th.label
        = label_tag "replacement", "Replace:"
      %td
        = text_field_tag "replacement", @replacement, :size => '15', :alt => "replace"
  %p.buttons
    = submit_tag("Replace", {:confirm => "Are you sure you want to replace?"})
    or
    = link_to 'Cancel', admin_pages_path
  %h3 Content to be replaced:
  %table.index
    %thead
      %tr
        %th Page
        %th
          Containing: 
          %span#query=h @query
    %tbody
      - @pages.each do |page|
        - page.parts.each do |part|
          %tr.part
            %td= link_to page.title, edit_admin_page_path(page)
            %td.find
              = truncate_and_highlight(part.content, @query)
